.popup__input-name {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 30px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.94px;
  padding-bottom: 13px;
}

@media screen and (max-width: 475px) {
  .popup__input-name  {
    font-size: 14px;
  }
}