.elements {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
  padding: 50px 0 66px 0;
}

@media screen and (max-width: 620px) {
  .elements {
    padding: 36px 0 48px 0;
  }
}