.profile__name {
  margin: 0 18px 16px 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  display: inline-block;
}

@media screen and (max-width: 915px) {
  .profile__name {
    font-size: 27px;
    line-height: 32.68px;
  }
}