.popup__close-button {
  top: -350px;
  right: -450px;
  position: relative;
  padding: 0;
  display: flex;
  background-image: url(../../../images/add-button.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(
45deg
);
  border: none;
  background-color: transparent;
  transition: .2s;
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .popup__close-button {
    right: -390px;
  }
}

@media screen and (max-width: 475px) {
  .popup__close-button {
    top: -370px;
    right: -305px;
  }
}

@media screen and (max-width: 320px) {
  .popup__close-button {
    top: -365px;
    right: -245px;
  }
}