.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit-button.svg);
  background-color: transparent;
  border: none;
  display: inline-block;
  transition: .2s;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}