.popup__container {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
}

@media screen and (max-width: 475px) {
  .popup__container {
    max-width: 343px;
    min-height: 345px;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    max-width: 282px;
  }
}