.elements__like-button {
  padding: 0;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like-button.svg);
  border: none;
  background-color: transparent;
  transition: .2s;
  outline: none;
}

.elements__like-button:hover {
  opacity: .5;
  cursor: pointer;
}