.popup__title {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  max-width: calc(100% - 28px);
  padding-top: 33px;
  padding-bottom: 35px;
}

@media screen and (max-width: 475px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    max-width: 238px;
    padding-bottom: 75px;
  }
}